* {
    margin: 0;
    padding: 0;
    text-align: center;
    
  
}

h1 {
    background-color: #081b31;
    color:#fff;
    height:5rem;
    line-height: 5rem;
}



.choice {
    height: 165px;
    width: 165px;
     border-radius:50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
     height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}


.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score_board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
}


#user_score,
#comp_score {
    font-size: 3rem;
}


.result_container {
 margin-top: 5rem;
}

#msg {
    background-color: #081b31;
    color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

/* Default (Light Mode) */
body {
  background-color: #e6f9f5;
  color: #000000;
  transition: background 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
  background-color: #1a1a1a;
  color: #f1f1f1;
}

#theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}